*{
	margin: 0px;
	padding: 0px;
}
html{
	background-image: url(../images/patron1.jpg);
	background-color: black;
	background-repeat: repeat;
	background-attachment: fixed;
}
body{
	width: 1500px;
	height: 1900px;
	margin: 0px auto;
	background-color: rgba(00, 000, 00,0.8);
}
header{
	height: 220px;
	background-color: black;
}
#header{
	height: 220px;
	width: 97px;
	background-image: url(../images/redes.png);
	float:right;
}
.imgh{
	padding: 9px 0 0 0;
}

.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 500px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

	.social ul {
		list-style: none;
	}

	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}

	.social ul li .icon-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-googleplus {background: #d95232;}
	.social ul li .icon-pinterest {background: #ae181f;}
	.social ul li .icon-mail {background: #666666;}

	.social ul li a:hover {
		background: orange; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}
	#nav{
	width: 1500px;
	height: 50px;
	background-image: url(../images/nav.png);
}
a{
	text-decoration: none;
}
a:link{
	color:white;
}

a:visited{
	color:white;
}
#li{
	list-style-type: none;
	display: inline-block;
}
#imgnav{
	width: 180px;
	height: 46px;
	margin-right: 66px;
	background-image: url(../images/nav.png);
}
#pf{
	padding: 13px;
	color: white;
	text-align: center;
	font-family: arial;
	font-size: 17px;
}
#footer{
	width: 500px;
	height: 155px;
	float: left;
	background-color: black;
}
.linea{
	width: 1500px;
	height: 3px;
	background-color: rgba(196, 176, 29,0.9);
	float: left;
}
#caja2{
	width: 430px;
	height: 350px;
	padding: 25px 0px 0px 50px;
	transition: width 2s, height 2s;
	-webkit-transition: width 2s, height 2s,
	-webkit-transform 2s;
}
#caja2:hover{
	width: 440px;
	height: 360px;
	transform: rotate(360deg);
}
#sec{
	width: 1500px;
	height: 400px;
	background-color: rgba(0,0,0,0.6);
	float: left;
}
#img{
	padding: 30px 0 0 50px;
}
#section{
	width: 500px;
	height: 95px;
	background-color: black;
	float: left;
}
#a{
		padding: 20px 0 0 0;
}	
#sec2{
	width: 1500px;
	height: 70px;
	float: left;
	background-color: black;
}
#bienvenue{
	padding: 0px 0px 0px 580px;
}
#sec1{
	width: 1500px;
	height: 170px;
	float: left;
	background-color: rgba(0,0,0,0.8);
}
#plan{
	padding: 30px 0px 0px 480px;
}
#cimagen{
	width: 515px;
	height: 560px;
	float: left;
	background-color: rgba(0,0,0,0.6);
}
#texto{
	width: 985px;
	height: 560px;
	float: left;
	background-color: rgba(0,0,0,0.6);
}
#izq{
	padding: 15px 0 0 40px;
}
p{
	font-family: calibri;
	color: white;
	font-size: 20px;
	padding: 15px 30px 0 0;
	text-align: justify;
}
#cuadrito{
	padding: 15px 0 0 42px;
}
#sec5{
	width: 1500px;
	height: 48px;
	background-color: black;
	float: left;
}
#p2{
	font-family: calibri;
	font-size: 20px;
	text-align: center;
	color: white;
}
#sec6{
	width: 1500px;
	height: 28px;
	background-color: rgba(0,0,0,0.6);
	float: left;
}
#section1{
	width: 1500px;
	height: 350px;
	float: left;
	background-color:rgba(0,0,0,0.6);
}
#doc{
	width: 450px;
	padding: 30px 0 0 35px;
}
#sec8{
	width: 1500px;
	height: 180px;
	float: left;
	background-color: rgba(0,0,0,0.6);	
}
#caja3{
	width: 120px;
	height: 120px;
	padding: 35px 0px 0px 80px;
	transition: width 2s, height 2s;
	-webkit-transition: width 2s, height 2s,
	-webkit-transform 2s;
}
#caja3:hover{
	width: 120px;
	height: 120px;
	transform: rotate(360deg);
}
#sec15{
	width: 1500px;
	height: 40px;
	float: left;
	color: white;
}